<div class="center jumbotron">
  <h1>Welcome to the Members-only App</h1>

  <h2>
    This is the home page for my Members-Only App.
  </h2>

  <% unless logged_in? %>
    <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
  <% end %>
</div>