<h1>Posts</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% @posts.each do |post| %>
        <div style="border: solid 1px rgb(210,210,210)">
            <h3><%= post.title %></h3>
            <h6><%= "Author: #{User.find(post.user_id).name}" if logged_in? %></h6>
            <p><%= post.body %></p>
        </div>
    <% end %>
  </div>
</div>